
/Back/node_modules
Back/package-lock.json
/Front/node_modules
Front/package-lock.json

Back/src/public/uploads/labform_image
Back/src/public/uploads/labform_file
Back/src/public/uploads/register_image
Back/src/public/uploads/hospital_image
Back/src/public/uploads/employee_image
Back/src/public/uploads/pet_image
Back/src/public/uploads/customer_image
Back/src/public/uploads/labformheader_image

Back/dist

Back/logs
Back/logs/app.log


